.App {
  text-align: center;
  background-color: white;
  overscroll-behavior: none;
  overflow: hidden;
  height: 100%;
}

.images {
  border-radius: 25px;
  max-width: 30%;
  height: auto;
  min-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 553px) {
  .navbar {
    display: none;
  }
  .navbar-list {
    display: none;
  }
  .navbar-link {
    display: none;
  }
  .nav-link {
    display: none;
  }
}
.navbar {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: left;
  background-color: transparent;
}
.navbar-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 15px;
  margin: 0;
  padding: 0;
}

.navbar-link {
  padding: 15px;
}

.nav-link {
  color: #8643de;
  text-decoration: none;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

.page-default {
  text-align: center;
  background-color: white;
  border-radius: 30px;
  color: #e73beb;
  padding: 30px;
  line-height: 1.6;
  overscroll-behavior: none;
  overflow: hidden;
  /* margin: 20px; */
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 3vh;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.cv-container {
  text-align: center;
  background-color: white;
  color: #e73beb;
  padding: 30px;
  line-height: 1.6;
  overscroll-behavior: none;
  overflow: hidden;
  /* margin: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 3vh;
}
#job-title {
  margin-bottom: -10px;
}
a {
  color: #8643de;
  text-decoration: none;
}

ul {
  display: table;
  margin: 0 auto;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cv-img {
  border-radius: 25px;
  max-width: 50%;

  height: auto;
  min-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  width: 40vw;
}
@media only screen and (max-width: 880px) {
  section {
    box-shadow: none;
  }
}

#stack-grouping {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#daniel-presenting {
  width: 40vw;
  height: auto;
  border-radius: 25px;
}

/* button starts here */

.btn {
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  /* text-transform: uppercase; */
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  /* font-weight: 900; */
  font-size: 14px;
  letter-spacing: 0.045em;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  /* stroke: #ec0033; */
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.btn span {
  background: linear-gradient(to right, #e73beb 0%, #e73beb 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}
.contact-details {
  display: flex;
  padding: 20px;
}

.social-link {
  padding: 10px;
  /* margin: 20px; */
}

.contact-me {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* burger stuff */
@media only screen and (min-width: 553px) {
  .bm-burger-button {
    display: none;
  }
}
#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  position: relative;
}

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 24px;
  top: 24px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #e73beb;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #8643de;
}
.menu-item {
  color: #8643de;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
